@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900');

:root {
  --neon-green: #4def65;
  --bg-color: #001504;
}

* {
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: var(--bg-color);
  background-image: linear-gradient(to top, transparent 50%, var(--bg-color)), url('../assets/images/background.jpg');
  background-size: 100vw 131vw, 100vw;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 56vw;
}

.page-link:focus {
  box-shadow: none;
  background-color: transparent;
  color: var(--neon-green);
}

.btn-page {
  color: #30bb45;
  border: 2px solid currentColor;
  background-color: transparent;
  padding: 7px 15px;
  font-weight: bold;
  --bs-pagination-border-radius: 12px;
}

.btn-page:hover {
  color: var(--neon-green);
  border: 2px solid currentColor;
  background-color: transparent;
  text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 currentColor, 0 0 0.5em 0 currentColor;
  transition: .5s ease-in-out;
}

.disabled .btn-page {
  background-color: transparent;
  color: #808080;
  border-color: currentColor;
}

footer {
  background-color: #1F2821;
  color: #848484;
}

.main-title {
  color: #105718;
}

.card-title {
  font-size: 1.5rem;
  text-wrap: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.status {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
}

#circle-status {
  font-size: 8px;
}

#search-button {
  background-color: transparent;
  color: #4D9F4B;
}

.form-control {
  border-right: none;
}

.form-control:focus {
  border-color: var(--bs-border-color);
  box-shadow: none;
}

.card {
  background-color: #354338;
}

@media screen and (max-width: 450px) {
  .mobile-w {
    width: 100%;
  }

  img.mobile-w {
    height: 200px;
  }
}